.main{
       width: 100vw;
       height: 100vh;
      background-color: rgb(235, 248, 252);
      display: flex;
     justify-content: center; 
  align-items: center;    
       
}
.logh2{
  text-align: center;
  margin-top: 0px;
  font-size: 25px;
  color: #1018f8;
}
.log{
         width: 25%;
         height: 50%;
         border: 2px solid rgb(129, 237, 245);
         border-radius: 15px;
         margin: 200px 560px ;
         background: white;
         padding: 30px 40px;
         box-shadow: 0px 4px 15px rgba(66, 66, 66, 0.2);
         text-align: left;
}
.loglabel{
     margin: 10px;
     font-size: 17px;
     font-weight: 500;
}
.inputs{
       width: 90%;
    margin: 5px 10px;
    padding: 5px;
    border-radius: 8px;
    border: 1px solid rgb(129, 237, 245);
    height: 28px;
    font-size: 14px;
}
button{
       width: 150px;
       height: 35px;
       margin-left: 30%;
       margin-top: 8px;
       margin-bottom: 8px;
       border-radius: 7px;
       background-color: blue;
       border: 1px solid whitesmoke;
       color: white;
       font-size: 17px;
       cursor: pointer;
       transition: background-color 0.5s ease, transform 0.3s ease;
       }
button:hover {
  background-color: rgb(123, 243, 225);
  transform: scale(1.1); /* grows smoothly */
}
.an{
       margin-left: 60%;
       font-size: 15px;
}
.para{
       margin-left: 10px;
       margin-top: 3px;
}